.App {
  text-align: center;
  background-color: bisque;
  width: 700px;
  height: auto;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
*{
  margin: 0 auto;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.todolist{
  border: 2px solid gray;
  border-radius: 10px;
  width: 550px;
  margin-top: 10px;
  background-color: oldlace;
}